# Goodreads

### Iniciar la SparkSession

In [1]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

# Create a DataFrame using SparkSession
spark = (SparkSession.builder.appName("Goodreads").getOrCreate())

### Carga de los CSV

In [2]:
from pyspark.sql import functions as F
directorio_books_1_100 = "C:/Users/sara.arribas/Documents/Big Data/Goodreads Dataset Project/book"+str(1)+"-"+str(100)+"k.csv"
booksDF  = spark.read.format("csv")\
                    .option("header", "true")\
                    .option("delimiter", ",")\
                    .option("inferSchema", "true")\
                    .option("quote", "\"")\
                    .option("escape","\"")\
                    .option("multiLine","true")\
                    .load(directorio_books_1_100)

In [ ]:
from pyspark.sql import functions as F
booksDF.select("*").where(F.col("Id")==2995).toPandas()

In [3]:
di = [100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,3000,4000,5000]

for i in range(len(di)-1):
    directorio_books = "C:/Users/sara.arribas/Documents/Big Data/Goodreads Dataset Project/book"+str(di[i])+"k-"+str(di[i+1])+"k.csv"
    booksDF_bis  = spark.read.format("csv")\
                              .option("header", "true")\
                              .option("delimiter", ",")\
                              .option("inferSchema", "true")\
                              .option("quote", "\"")\
                              .option("escape","\"")\
                              .option("multiLine","true")\
                              .load(directorio_books)
    
        
    booksDF1 = booksDF.unionByName(booksDF_bis, allowMissingColumns=True)
    booksDF = booksDF1

In [4]:
booksDF.count()

1850310

In [5]:
booksDF.select("Publishday").distinct().show(10, False)

+----------+
|Publishday|
+----------+
|31        |
|28        |
|26        |
|27        |
|12        |
|22        |
|1         |
|13        |
|6         |
|16        |
+----------+
only showing top 10 rows

In [6]:
booksDF.groupBy("Id").count().orderBy(F.desc("count")).show(10, False)

+-----+-----+
|Id   |count|
+-----+-----+
|85986|2    |
|76885|2    |
|85955|2    |
|86023|2    |
|85918|2    |
|85962|2    |
|76855|2    |
|85946|2    |
|76897|2    |
|76825|2    |
+-----+-----+
only showing top 10 rows

In [7]:
booksDF.select("*").where(F.col("Id") == 85955).toPandas()

,Id,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3,Description,Count of text reviews
0,85955,Karl Marx and the Future of the Human,1:0,244,4:2,total:4,28,2,Lexington Books,1,2005,None,Cyril Smith,4.0,2:0,5:1,0739110276,3:1,None,NaN
1,85955,Karl Marx and the Future of the Human,1:0,244,4:2,total:4,28,2,Lexington Books,1,2005,None,Cyril Smith,4.0,2:0,5:1,0739110276,3:1,None,NaN

<div class="alert alert-block alert-success">
Como tenemos filas repetidas (las que tienen mismo Id) las podemos borrar
</div>

In [12]:
booksDF_limpio = booksDF.dropDuplicates(["Id"])
booksDF_limpio.count()

1850115

### 1.- Rating promedio de todos los libros

In [17]:
booksDF_limpio.select(F.mean(F.col("Rating")).alias("Rating Promedio")).show()

+------------------+
|   Rating Promedio|
+------------------+
|2.8941456017598894|
+------------------+

### 2.- Rating promedio de los libros por autor

In [55]:
booksDF_limpio.groupBy("Authors")\
              .agg(F.round(F.mean(F.col("Rating")),2).alias("Rating x Authors"))\
              .orderBy(F.desc("Rating x Authors"))\
              .show(5,False)

+--------------------+----------------+
|Authors             |Rating x Authors|
+--------------------+----------------+
|Marianne Hancock    |5.0             |
|Keith F. David      |5.0             |
|Jan Ahlund          |5.0             |
|Zole Hammer         |5.0             |
|Thomas Dunbar Ingram|5.0             |
+--------------------+----------------+
only showing top 5 rows

In [64]:
booksDF_limpio.groupBy("Authors")\
              .agg(F.round(F.mean(F.col("Rating")),2).alias("Rating x Authors"))\
              .agg(F.round(F.mean("Rating x Authors"),2).alias("Rating Promedio Books x Authors"))\
              .show()

+-------------------------------+
|Rating Promedio Books x Authors|
+-------------------------------+
|                           2.36|
+-------------------------------+

### 3.- Rating promedio de los libros por Publisher

In [29]:
booksDF_limpio.groupBy("Publisher")\
              .agg(F.round(F.mean(F.col("Rating")),2).alias("Rating x Publisher"))\
              .orderBy(F.desc("Rating x Publisher"))\
              .show(5, False)

+-------------------------+------------------+
|Publisher                |Rating x Publisher|
+-------------------------+------------------+
|Images en Manoeuvres     |5.0               |
|Pentameter Press, Inc.   |5.0               |
|Admiral Nimitz Foundation|5.0               |
|Mystic Wolf Press, Inc   |5.0               |
|Tehmenos Press           |5.0               |
+-------------------------+------------------+
only showing top 5 rows

In [63]:
booksDF_limpio.groupBy("Publisher")\
              .agg(F.round(F.mean(F.col("Rating")),2).alias("Rating x Publisher"))\
              .agg(F.round(F.mean("Rating x Publisher"),2).alias("Rating Promedio Books x Publisher"))\
              .show()

+---------------------------------+
|Rating Promedio Books x Publisher|
+---------------------------------+
|                             2.59|
+---------------------------------+

### 4.- Número promedio de páginas de todos los libros

In [24]:
booksDF_limpio.select(F.mean(F.col("pagesNumber")).alias("Promedio de Pags")).show()

+-----------------+
| Promedio de Pags|
+-----------------+
|276.5487577799218|
+-----------------+

### 5.- Número promedio de páginas de todos los libros por autor¶

In [49]:
booksDF_limpio.groupBy("Authors")\
              .agg(F.round(F.mean(F.col("pagesNumber")),2).alias("Pags x Authors"))\
              .orderBy(F.desc("Pags x Authors"))\
              .show(5, False)

+----------------------+--------------+
|Authors               |Pags x Authors|
+----------------------+--------------+
|Sandy Redburn         |1807321.6     |
|A.B. Murphy           |751507.33     |
|John B. Hare          |500000.0      |
|Logos Research Systems|100000.0      |
|Progressive Management|35428.44      |
+----------------------+--------------+
only showing top 5 rows

In [61]:
booksDF_limpio.groupBy("Authors")\
              .agg(F.round(F.mean(F.col("pagesNumber")),2).alias("Pags x Authors"))\
              .agg(F.round(F.mean("Pags x Authors"),2).alias("Promedio Pags x Authors"))\
              .show()

+-----------------------+
|Promedio Pags x Authors|
+-----------------------+
|                 276.74|
+-----------------------+

### 6.- Número promedio de páginas de todos los libros por Publisher

In [41]:
booksDF_limpio.groupBy("Publisher")\
              .agg(F.round(F.mean(F.col("pagesNumber")),2).alias("Pags x Publisher"))\
              .orderBy(F.desc("Pags x Publisher"))\
              .show(5, False)

+----------------------------+----------------+
|Publisher                   |Pags x Publisher|
+----------------------------+----------------+
|Routledge                   |37642           |
|Springer                    |35809           |
|Oxford University Press, USA|26986           |
|Cambridge University Press  |25957           |
|null                        |17819           |
+----------------------------+----------------+
only showing top 5 rows

In [60]:
booksDF_limpio.groupBy("Publisher")\
              .agg(F.round(F.mean(F.col("pagesNumber")),2).alias("Pags x Publisher"))\
              .agg(F.round(F.mean("Pags x Publisher"),2).alias("Promedio Pags x Publisher"))\
              .show()

+-------------------------+
|Promedio Pags x Publisher|
+-------------------------+
|                   268.55|
+-------------------------+

### 7.- Número promedio de libros publicados por autor

In [50]:
booksDF_limpio.groupBy("Authors")\
              .agg(F.round(F.count(F.col("Authors")),2).alias("Books x Authors"))\
              .orderBy(F.desc("Books x Authors"))\
              .show(5, False)

+-------------------+---------------+
|Authors            |Books x Authors|
+-------------------+---------------+
|Anonymous          |2893           |
|Unknown            |2029           |
|William Shakespeare|1373           |
|Francine Pascal    |930            |
|Agatha Christie    |885            |
+-------------------+---------------+
only showing top 5 rows

In [57]:
booksDF_limpio.groupBy("Authors")\
              .agg(F.round(F.count(F.col("Authors")),2).alias("Books x Authors"))\
              .agg(F.round(F.mean("Books x Authors"),2).alias("Promedio Books x Authors"))\
              .show()

+------------------------+
|Promedio Books x Authors|
+------------------------+
|                    2.74|
+------------------------+

### 8.- Ordenar los libros de mayor a menor (Top 15) por número de ratings dados por usuarios (excluir aquellos valores sin rating)

In [69]:
booksDF_limpio.select("Name", "Rating")\
              .orderBy(F.desc("Rating"))\
              .limit(15)\
              .toPandas()

                                                 Name  Rating
0   Divan-I Kebir Volume 17: Hezec Mahbun Matviyy ...     5.0
1   Costs of Conflict: Prevention and Cure in the ...     5.0
2   Doctors' Doctor: A Biography of Eugene A. Stea...     5.0
3   The Mennonite Encyclopedia;A Comprehensive Ref...     5.0
4       Naming Names: Who, What, Where in Irish Names     5.0
5   International Marketing in the Network Economy...     5.0
6    What Was Lost: The Chronicles of Japheth: Book I     5.0
7                             Sun-men of the Americas     5.0
8   Negotiating World Order: The Artisanship and A...     5.0
9                                     Pepper Mountain     5.0
10    Black Beauty: A Guide for Teachers and Students     5.0
11  The First Passage: Blacks in the Americas 1502...     5.0
12  Bernini and the Idealization of Death: The Ble...     5.0
13  Social and Economic History of Early Deccan: S...     5.0
14  Goethes Werke: Band VIII. Wilhelm Meisters Wan...     5.0

### 9.- Obtener Top 5 de ratings más frecuentes otorgados por usuarios

In [71]:
booksDF_limpio.groupBy("Rating")\
              .count()\
              .orderBy(F.desc("count"))\
              .limit(5)\
              .toPandas()

   Rating   count
0     0.0  451777
1     4.0  151965
2     3.0   87286
3     5.0   79825
4     3.5   45217